{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div class="center-block w-xxxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <a class="navbar-brand">
	<span class="hidden-folded inline">{% trans "Confirm E-mail Address" %}</span></a>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
    {% if confirmation %}

	{% user_display confirmation.email_address.user as user_display %}

	<div class="m-b text-sm">
	{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
	</div>

	<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
	{% csrf_token %}
	    <button type="submit" class="btn primary btn-block p-x-md">{% trans 'Confirm' %}</button>
	</form>
	{% else %}
	{% url 'account_email' as email_url %}
	<div class="m-b text-sm">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</div>
	{% endif %}
</div>
{% endblock %}
