{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="center-block w-xxxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <a class="navbar-brand"><span class="hidden-folded inline">{% trans "Change Password" %}</span></a>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <form name="form" class="password_change" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {% include "account/snippets/form.html" %}
        <button type="submit" class="btn primary btn-block p-x-md" name="action">{% trans 'Change Password' %}</button>
      </form>
    </div>
 </div>
{% endblock %}
