{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="center-block w-xxxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <a class="navbar-brand">
	<span class="hidden-folded inline">{% trans "Change Password" %}</span></a>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-md">
        {% trans 'Your password is now changed.' %}
      </div>
      <div class="p-y-xs">
      	<a href="{% url 'account_login' %}"><button type="submit" class="btn primary btn-block p-x-md">Login</button></a>
      </div>
    </div>
    
  </div>
{% endblock %}
