{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <a class="navbar-brand"><span class="hidden-folded inline">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</span></a>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        {% if token_fail %}
            <div class="m-b text-sm">
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            </div>
        {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% include "account/snippets/form.html" %}
                <input type="submit" class="btn primary btn-block p-x-md" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
        <div class="m-b text-sm">{% trans 'Your password is now changed.' %}</div>
        {% endif %}
        {% endif %}
    </div>
 </div>
{% endblock %}
