{% extends "root.html"%}
{% load static %}
{% block head_title %}Home{% endblock %}
{% block body %}
<div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="30" height="30" style="position:fixed; z-index:0; left:50%; top: 20%" class="animated fadeInDownBig">
        <path d="M 50 0 L150 0 L200 100 L150 200 L50 200 L0 100 Z" fill="rgba(0,0,0,0.05)"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="10" height="10" style="position:fixed; z-index:0; left:49%; top: 15%" class="animated fadeInDown">
        <path d="M 50 0 L150 0 L200 100 L150 200 L50 200 L0 100 Z" fill="#a88add"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="5" height="5" style="position:fixed; z-index:0; left:30%; top: 0%" class="animated fadeInDown">
        <path d="M 50 0 L150 0 L200 100 L150 200 L50 200 L0 100 Z" fill="#a88add"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="20" height="20" style="position:fixed; z-index:0; right:5%; top: 30%" class="animated fadeInDown">
        <path d="M 50 0 L150 0 L200 100 L150 200 L50 200 L0 100 Z" fill="#0cc2aa"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="15" height="15" style="position:fixed; z-index:0; left:34.5%; top: 55%" class="animated fadeIn">
        <path d="M 50 0 L150 0 L200 100 L150 200 L50 200 L0 100 Z" fill="#fcc100"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200" style="position:fixed; z-index:0; right:20%; top: 70%" class="animated fadeInUp">
        <path d="M 50 0 L150 0 L200 100 L150 200 L50 200 L0 100 Z" fill="rgba(252,193,0,0.1)"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="120" height="120" style="position:fixed; z-index:0; left:0%; top: 30%" class="animated fadeInLeftBig">
        <path d="M 50 0 L150 0 L200 100 L150 200 L50 200 L0 100 Z" fill="rgba(0,0,0,0.03)"></path>
      </svg>
  </div>
<div class="h-v-5 white row-col">
      <div class="row-cell v-b">
        <div class="container p-y-lg pos-rlt text-center">
          <h1 class=""><img style="width:40%" src="{% static 'images/name.png' %}"></h1>
          <h2 class="display-3 _700 l-s-n-3x m-t-lg m-b-md">Always be a <span class="text-primary">beginner</span></h2>
          <h5 class="text-muted m-b-lg">Launching soon...</h5>
        </div>
      </div>
    </div>
{% endblock %}
