<!DOCTYPE html>
{% load avatar_tags %}
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>{{ APP_NAME }} | {% block head_title %}{% endblock %}</title>
      <meta name="description" content="{{ APP_NAME }}" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- for ios 7 style, multi-resolution icon of 152x152 -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
      <link rel="apple-touch-icon" href="{% static '/images/logo.png' %}">
      <meta name="apple-mobile-web-app-title" content="{{ APP_NAME }}">
      <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="shortcut icon" sizes="196x196" href="{% static '/images/logo.png' %}">
      <!-- style -->
      <link rel="stylesheet" href="{% static '/animate.css/animate.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static '/glyphicons/glyphicons.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static '/material-design-icons/material-design-icons.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static '/styles/app.min.css' %}">
      <link rel="stylesheet" href="{% static '/styles/bootstrap-social.css' %}">
      <link rel="stylesheet" href="{% static '/styles/font.css' %}" type="text/css" />
   </head>
   <body class=" pace-done" ui-class="">
      <div class="pace  pace-inactive">
         <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
         </div>
         <div class="pace-activity"></div>
      </div>
      <div class="app" id="app">
         <!-- ############ LAYOUT START-->
         <!-- content -->
         <div id="content" class="app-content box-shadow-z0" role="main">
            <div class="app-header navbar-md white box-shadow">
               <div class="navbar">
                  <a data-toggle="collapse" data-target="#navbar-4" class="navbar-item pull-right hidden-md-up m-a-0 m-l"><i class="material-icons"></i></a>
                  <a class="navbar-brand" href="{% url 'home' %}">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
                        <path d="M 4 4 L 44 4 L 44 44 Z" fill="#a88add"></path>
                        <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
                        <path d="M 4 4 L 24 4 L 4  44 Z" fill="#0cc2aa"></path>
                     </svg>
                     <img src="{% static 'images/logo.png' %}" alt="." class="hide"> <span class="hidden-folded inline">{{ APP_NAME }}</span>
                  </a>
                  <ul class="nav navbar-nav pull-right">
                    <li class="nav-item"><a class="nav-link" ui-fullscreen=""><span><i class="fa fa-fw fa-arrows-v"></i></span></a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown"><i class="material-icons"></i> <span class="label up p-a-0 accent"></span></a>
                        <div class="dropdown-menu w-xl text-color pull-right p-a-0 animated flipInX">
                           <div class="row no-gutter text-primary-hover">
                              <div class="col-xs-4 b-r b-b"><a class="p-a block text-center"><i class="material-icons md-24 text-muted m-v-sm"></i> <span class="block">Alarm</span></a></div>
                              <div class="col-xs-4 b-r b-b"><a class="p-a block text-center"><i class="material-icons md-24 text-muted m-v-sm"></i> <span class="block">Favorite</span></a></div>
                              <div class="col-xs-4 b-b"><a class="p-a block text-center"><i class="material-icons md-24 text-muted m-v-sm"></i> <span class="block">History</span></a></div>
                              <div class="col-xs-4 b-r"><a class="p-a block text-center"><i class="material-icons md-24 text-muted m-v-sm"></i> <span class="block">Call</span></a></div>
                              <div class="col-xs-4 b-r"><a class="p-a block text-center"><i class="material-icons md-24 text-muted m-v-sm"></i> <span class="block">Chat</span></a></div>
                              <div class="col-xs-4"><a class="p-a block text-center"><i class="material-icons md-24 text-muted m-v-sm"></i> <span class="block">Inbox</span></a></div>
                           </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown"><i class="material-icons"></i> <span class="label up p-a-0 warn"></span></a>
                        <div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
                           <div class="scrollable" style="max-height: 220px">
                              <ul class="list-group list-group-gap m-a-0">
                                 <li class="list-group-item black lt box-shadow-z0 b"><span class="pull-left m-r"><img src="../assets/images/a0.jpg" alt="..." class="w-40 img-circle"></span> <span class="clear block">Use awesome <a href="#" class="text-primary">animate.css</a><br><small class="text-muted">10 minutes ago</small></span></li>
                                 <li class="list-group-item black lt box-shadow-z0 b"><span class="pull-left m-r"><img src="../assets/images/a1.jpg" alt="..." class="w-40 img-circle"></span> <span class="clear block"><a href="#" class="text-primary">Joe</a> Added you as friend<br><small class="text-muted">2 hours ago</small></span></li>
                                 <li class="list-group-item dark-white text-color box-shadow-z0 b"><span class="pull-left m-r"><img src="../assets/images/a2.jpg" alt="..." class="w-40 img-circle"></span> <span class="clear block"><a href="#" class="text-primary">Danie</a> sent you a message<br><small class="text-muted">1 day ago</small></span></li>
                              </ul>
                           </div>
                        </div>
                    </li>
                     {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                           <a href="#" class="nav-link dropdown-toggle clear" data-toggle="dropdown"><span class="avatar w-32"><img src="{% if user.socialaccount_set.all.0.get_avatar_url %} {{ user.socialaccount_set.all.0.get_avatar_url }} {% else %} {% avatar_url user %} {% endif %}" > <i class="busy b-white right"></i></span></a>
                           <div class="dropdown-menu pull-right dropdown-menu-scale">
                              <a class="dropdown-item" href="{% url 'account_email' %}"><span>Change Email</span></a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a>
                           </div>
                        </li>
                     {% else %}
                       	<li class="nav-item">
                           <a class="nav-link clear"  href="{% url 'account_login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link clear"  href="{% url 'account_signup' %}">Signup</a>
                        </li>
                     {% endif %}
                  </ul>
                  <div class="collapse navbar-toggleable-sm" id="navbar-4" data-pjax="">
                     <form class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m" role="search">
                        <div class="form-group l-h m-a-0">
                           <div class="input-group"><input type="text" class="form-control form-control-sm p-x b-a rounded" placeholder="Search coachings..."></div>
                        </div>
                     </form>
                     <ul class="nav navbar-nav pull-left nav-active-border b-primary">
                        {% for genre in MENU.child_nodes %}
                            <li class="nav-item dropdown pos-stc"><a href class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="nav-text">{{ genre.name }}</span></a>
                            <div class="dropdown-menu pull-down p-a w-full text-color text-primary-hover">
                                <div class="row">
                                    {% for classes in genre.child_nodes %}
                                    <div class="col-sm-3">
                                        <div class="_600 text-u-c m-y-sm">{{ classes.name }}</div>
                                        <div class="row">
                                            {% for types in classes.child_nodes %}
                                                <div class="col-xs-6">
                                                <h5><span class="label">{{types.name}}</span></h5>
                                                <ul class="nav l-h-2x">
                                                    {% for course in types.child_nodes %}
                                                    <li><a href="{% url 'course_by_id' course.url_name %}" ><span>{{course.name}}</span></a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                       
                     </ul>
                  </div>
               </div>
            </div>
            <div ui-view="" class="app-body" id="view">
               <!-- ############ PAGE START-->
               {% block body %}
               {% block content %}

               {% endblock %}
               {% endblock %}
               <!-- ############ PAGE END-->
            </div>
            <div class="dark dk pos-rlt">
               <div class="p-md">
                   <div class="footer p-a-md">
                        <div class="text-center">
                            <div class="clearfix text m-t">Coaxialowl is an educational site in which we provide better platform for the students to take direct admission in different institution, college and classes for different courses and activity to explore their needs.</div>
                            <div class="nav m-y"><a class="nav-link m-r" href=""><span>Home</span></a> <a class="nav-link m-r" href=""><span>Shop</span></a> <a class="nav-link m-r" href=""><span>Blog</span></a> <a class="nav-link m-r" href=""><span>Service</span></a> <a class="nav-link m-r" href=""><span>About us</span></a> <a class="nav-link m-r" href=""><span>Contact</span></a>
                            </div>
                            <div class="block clearfix">
                                <a href="https://www.facebook.com/COAXIALOWL/" class="btn btn-icon btn-social btn-sm white"><i class="fa fa-facebook"></i> <i class="fa fa-facebook indigo"></i></a>
                                <a href="https://www.youtube.com/channel/UCr07oLmA6xkHjVkdg48Ro_g" class="btn btn-icon btn-social btn-sm white"><i class="fa fa-youtube"></i> <i class="fa fa-youtube red"></i></a> 
                            </div>
                        </div>
                        <div class="b b-b m-y-md"></div>
                        <div class="row footer-bottom">
                            <div class="col-sm-8"><small class="text-muted">© Copyright {{ CURRENT_YEAR }}. All rights reserved.</small>
                            </div>
                            <div class="col-sm-4">
                                <div class="text-sm-right text-xs-left"><strong>{{ APP_NAME }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
         </div>
         <!-- / -->
         <!-- ############ LAYOUT END-->
      </div>
      {% block extra_body %}
      {% endblock %}
      <script src="{% static 'scripts/app.html.js' %}"></script>
      <script src="{% static 'libs/jquery/screenfull/dist/screenfull.min.js' %}"></script>
   </body>
</html>